<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Login validatation" verbose="2">
	<test name="BothCorrect">
		<parameter name="username" value="Admin"></parameter>
		<parameter name="password" value="admin123"></parameter>
		<classes>
			<class name="loginTestcase.BothCorrect" />
		</classes>
	</test>

	<test name="BothinCorrect">
		<parameter name="username" value="Admin123"></parameter>
		<parameter name="password" value="admin123"></parameter>
		<classes>
			<class name="loginTestcase.BothinCorrect"></class>
		</classes>
	</test>


	<test name="PasswordCorrect">
		<parameter name="username" value="Admin"></parameter>
		<parameter name="password" value="admin4123"></parameter>
		<classes>
			<class name="loginTestcase.PasswordCorrect"></class>
		</classes>
	</test>

	<test name="UsernameCorrect">
		<parameter name="username" value="testing"></parameter>
		<parameter name="password" value="admin123"></parameter>
		<classes>
			<class name="loginTestcase.UsernameCorrect"></class>
		</classes>
	</test>


</suite>